<div class="wrapper">
    <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">
            Group</li>
    </ul>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-md" data-toggle="modal"
                        data-target="#mymodal"><i class="fa fa-plus"></i> New Group</button>
                </div>
                <div class="col-md-4 text-center">

                </div>
                <div class="col-md-1 text-right">

                </div>
                <div class="col-md-3 text-right">
                    <!-- <form action="group" class="form-inline"
                        method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-search"></i>
                                    Search</button>
                            </span>
                        </div>
                    </form> -->
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Group Name
                        </th>
                        <th width="125" class="text-center">
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <% var i = 1; if(group){group.forEach((row) => { %>
                    <tr>
                        <td><%= i%></td>
                        <td><%= row.name%></td>
                        <td class="text-center">
                                <a href='group/msisdn/<%= row.id%>' class='btn btn-primary'>Get List</a>
                        </td>
                    </tr>
                    <% i++});} %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Total Record : <%= group.length %> </td>
                        <td colspan="5" align="right"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form-group" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="msisdn">Group Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Input Group name"
                                id="group" require>
                        </div>

                        <div class="form-group">
                            <label for="msisdn">Source Name</label>
                            <input type="text" class="form-control" name="source" placeholder="Input Source Name"
                                id="source" require>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#source').keypress(function (e) {
            if (e.which < 48 ||
                (e.which > 57 && e.which < 65) ||
                (e.which > 90 && e.which < 97) ||
                e.which > 122) {
                e.preventDefault();
            }
        });
        $("#form-group").submit(function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You will add msisdn",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'post',
                        url: '/group/save',
                        data: $(this).serialize(),
                        success: function (e) {
                            if (!e.error) {
                                Swal.fire({
                                    title: 'Insert Group',
                                    text: e.message,
                                    type: 'success',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function () {
                                    location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: 'Insert Group',
                                    text: e.message,
                                    type: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            }
                        }
                    });
                }
            });
            // if (confirm('Are you sure?')) {
            //     $.ajax({
            //         type: 'post',
            //         url: '/savegroup',
            //         data: $(this).serialize(),
            //         success: function (data) {
            //             if(data.error){
            //                 alert(data.message);
            //             }else{
            //                 alert(data.message);
            //                 location.reload();
            //             }
            //         }
            //     });

            // }


            return false;
        });
    });
</script>