<!-- page head start-->
            <div class="page-head">
                <h3>
                    Dashboard
                </h3>
                <span class="sub-title">Welcome to SMS Burst App</span>
            </div>
            <!-- page head end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="jumbotron">
                 <div class="panel-body">
                     <h1>Hello, <%= user_session.username %></h1>
                     <p>Welcome to Inventory Management System</p>

    
                 </div>                  
                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
            <!--body wrapper end-->