<!-- page head start-->
<div class="page-head">
    <h3>
        Dashboard
    </h3>
    <span class="sub-title">Welcome to SMS Burst App</span>
</div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="jumbotron">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">MSISDN</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var i = 1; results.forEach((row) => { %>
                                    <tr>
                                        <th scope="row"><%= i%></th>
                                        <td><%= row.msisdn%></td>
                                        <td><%= row.id%></td>
                                        <td><button class="btn btn-danger delete-btn"
                                                data-id="<%= row.id%>">Delete</button></td>
                                    </tr>
                                    <% i++}) ; %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $('.delete-btn').on('click', function () {
            var id = $(this).data('id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result);
                if (result.value) {
                    $.ajax({
                        url: '/msisdn/delete',
                        type: 'post',
                        data: { id: id },
                        success: function (e) {
                            if(!e.error){
                                Swal.fire({
                                title: 'Deleted',
                                text: "Your file has been deleted.",
                                type: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                location.reload();
                            });
                            }
                        }

                    });

                }
            })
            // swal({
            //     title: "Are you sure?",
            //     text: "Once deleted, you will not be able to recover this imaginary file!",
            //     icon: "warning",
            //     buttons: true,
            //     dangerMode: true,
            // })
            //     .then((willDelete) => {
            //             $.ajax({
            //                 url: '/msisdn/delete',
            //                 type: 'post',
            //                 data: { id: id },
            //                 success: function (e) {
            //                     if (e.error) {
            //                         alert(e.message);
            //                     } else {
            //                         swal({title:"Success!",text:"Msisdn has been deleted!",type:"success",timer:3000});
            //                     }
            //                 }

            //             });
            //             location.reload();
            //     });
        });
    });
</script>
<!--body wrapper end-->